<%- include('../Templates/header') %>
  <section class="contenedor">
    <h1>Agregar Médico</h1>
    <form action="/agregarmedico" method="post">
      <div class="agregarservicio">

        <input type="email" class="controls" id="" placeholder="Correo" name="correo">
        <input type="password" class="controls" id="" placeholder="Contraseña" name="contrasena">
        <input type="text" class="controls" id="" placeholder="Cédula" name="cedula">
        <input type="text" class="controls" id="" placeholder="Nombre" name="nombre">
        <input type="text" class="controls" id="" placeholder="Apellido" name="apellido">

        <h2>Escoger Tipo de servicio</h2>
        <p class="mostrarServ letraGrande">Mostrar Guia de Servicios</p>
        <div class="menu-escondido">
          <% servicios.forEach(servicio=> { %>
            <p  class="letraGrande">
              <%= servicio.id_servicio%>.
                <%= servicio.servicio%>
            </p>
            <% }); %>
        </div>

        <select class="controls" name="id_servicio" required>
          <option disabled selected>Escoger Servicio</option>
          <% servicios.forEach(servicio=> { %>

            <option>
              <%= servicio.id_servicio%>
            <% }); %>

        </select>

        <div class="centrar">
          <input type="submit" class="btn" value="Guardar">
          <a href="/medicos">
            <button type="button" class="btnRed">Cancelar</button>
          </a>
        </div>
      </div>
    </form>
  </section>

  </body>

  </html>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <% if(typeof alert !='undefined' ){ %>
    <script>
      Swal.fire({
        title: '<%= alertTitle %>',
        text: '<%=alertMessage %>',
        icon: '<%= alertIcon%>',
        showConfirmButton: '<%= showConfirmButton%>',
      }).then(() => {
        window.location = '/<%=ruta %>';
      })
    </script>
    <% } %>

<script>

  const mostrar = document.querySelector('.mostrarServ');
  mostrar.addEventListener('click', mostrarserv);
  function mostrarserv(){
    const div = document.querySelector('.menu-escondido');
    div.classList.toggle('mostrar')
  }

</script>
    