<%- include('../Templates/header') %>
  <section class="aggHorario contenedor">
    <h1>Editar Servicio</h1>
    <form action="/editar" method="post">

      <div class="agregarservicio">
        <!--<% //servicio.option == 'service' ? 'selected' : '' %> -->
        <!--<input name="id" value="<%= //servicio.servicio %>" hidden> -->
        <input type="text" class="controls" name="servicio" readonly value="<%= servicio.servicio %>">
        <textarea class="texta" name="descripcion"><%= servicio.descripcion %></textarea>
        <input type="number" class="controls" placeholder="Precio" name="precio" value="<%= servicio.precio %>">
        <div class="centrar">
          <input type="submit" class="btn" value="Guardar">
          <a href="/servicios">
            <button type="button" class="btnRed">Cancelar</button>
          </a>
        </div>
      </div>

    </form>
  </section>

  </body>

  </html>

  <script type="text/javascript">
    function mensajesatisfactorio() {

      alert("¡Se han guardado los datos satisfactoriamente!");
    }  
  </script>