<%- include('../Templates/header') %>
      <section class="contenedor">
            <h1>Médicos</h1>
            <div class="btnagregarservicioizq">
              <a href="agregarmedico"><button type="button" class="btn">Agregar médico</button> </a>
            </div>
        
           
            <table class="tabla w100">
                <thead class="thead">
                  <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Servicio</th>
                    <th>Modificar</th>
                  </tr>
                </thead>
                <tbody class="tbody">
                  <% medicos.forEach(medicos => { %>
                    <tr>
                    <td><%= medicos.cedula %></td>
                    <td><%= medicos.nombre %></td>
                    <td><%= medicos.apellido %></td>
                    <td><%= medicos.correo %></td>
                    <td><%= medicos.servicio%></td>
                    
                    <td><!--<a href="/editarservicio/" class="btn">Editar</a> -->
                      <a href="/eliminarmedico/<%= medicos.id_medico %>" class="btnRed">Eliminar</a></td>
                    <% }); %> 
                </tbody>
            </table>
      </section>
      </body>

  </html>