<%- include('../Templates/header') %>

    <section class="res contenedor">
  <h1>Pacientes</h1>
  
  <form action="">
    <input type="search" name="paciente" class="pacinp">
  </form>
  <div class="busqueda-paciente">
    <input type="text" class="pacinp">
    <a href="pacientes"><button class="btn">Buscar Paciente</button></a>
  </div>
  
  <div class="resultados">
    <table class="tabla w100">
      <thead class="thead">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Modificar</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <% pacientes.forEach(paciente => { %>
        <tr>
          <td><%= paciente.nombre %></td>
          <td><%= paciente.apellido %></td>
          <td>
          <a href="/editarpaciente/<%= paciente.id_paciente %>" class="btn">Editar</a>
            <a href="/eliminarpaciente/<%= paciente.id_paciente %>" class="btnRed">Eliminar</a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

  </div>
</section>

</body>
<script src="https://kit.fontawesome.com/d68418c0ce.js" crossorigin="anonymous"></script>

</html>