<%- include('../Templates/header') %>

<section class="res contenedor">
  <h1>Pacientes</h1>
  <div class="btnagregarservicioizq">
    <input id="buscar" type="text" placeholder="Buscar..." class="controls">
  </div>

  <div class="resultados">

    <table class="tabla w100">
      <thead class="thead">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Modificar</th>
        </tr>
      </thead>
      <tbody id="cuerpotabla" class="tbody">
        <% pacientes.forEach(paciente => { %>
        <tr>
          <td><%= paciente.nombre %></td>
          <td><%= paciente.apellido %></td>
          <td>
            <a href="/editarpaciente/<%= paciente.id_paciente %>" class="btn">Editar</a>
            <a href="/eliminarpaciente/<%= paciente.id_paciente %>" class="btnRed">Eliminar</a>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

  </div>
</section>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $("#buscar").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#cuerpotabla tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
</html>