<%- include('../Templates/header') %>
  <section class="contenedor">
    <h1>Servicios</h1>
    <div class="btnagregarservicioizq">
      <a href="agregarservicio"><button type="button" class="btn">Agregar servicio</button> </a>
    </div>

    <!--tabla bonita-->
    <div class="">
      <table class="tabla w100">
        <thead class="thead">
          <tr>
            <th>Tipo de servicio</th>
            <th>Descripción</th>
            <th>Costo</th>
            <th>Modificar</th>
          </tr>
        </thead>
        <tbody class="tbody">
          <% servicios.forEach(servicio => { %>
            <tr>
            <td><%= servicio.servicio %></td>
            <td><%= servicio.descripcion %></td>
            <td>B/. <%= servicio.precio %></td>
            <td><a href="/editarservicio/<%= servicio.servicio %>" class="btn">Editar</a> 
              <a href="/eliminar/<%= servicio.servicio %>" class="btnRed">Eliminar</a></td>
          </tr>
          <% }); %> 
        </tbody>
      </table>
  </section>

  </body>

  </html>